div{
  margin: 10px;
  color:black;
}

.loginForm{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

input{
  margin-top:1px;
}

.loginButton {
  display: flex;
  margin-top:1px;
}

label{
  display: flex;
  margin-top:15px;
}